body{
	background-color:powderblue;
}
h3{
	color:white;
	font-size:30px;
	text-align:center;
	font-weight:bolder;
	font-stretch:extra-expanded;
    width: 264px;
    height: 18px;
}
#MainHeading{
	background-color:red;
}
#MainTable{
	width:1300px;
    height: 792px;
}
#Navigation{

	background-color:red;
	color:white;
}
#NavigationTable{
	width:264px;
	height:706px;
	text-align:center;
	background-color:white;
}
a:hover{
	background-color:tomato;
}

